/* TYPOGRAPHY */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

@font-face {
  font-family: Handjet;
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('../fonts/Handjet.woff2') format('woff2 supports variations'),
    url('../fonts/Handjet.woff2') format('woff2-variations');

  /* reg 400 bold 700 black 900 */
}

/* TODO: meme fonts */
@font-face {
  font-family: 'Impact';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Rubik'), url('../fonts/impact.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Rubik'), url('../fonts/Rubik-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Montserrat'),
    url('../fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Secular One';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Secular One'),
    url('../fonts/SecularOne-Regular.ttf') format('truetype');
}

/* BASICS */
:root {
  --main-dark: #1c1c1c;
  --secondary-dark: #1f1a22;
  --main-light: #f4f4f4;
  --secondary-light: #e9e9e9;
  --placeholder: #5b5b5b;
  --highlight: #b36ecc;
  --highlight-selection: #efe8f6;

  --header-shadow: 0px 240px 96px rgba(0, 0, 0, 0.01),
    0px 135px 81px rgba(0, 0, 0, 0.02), 0px 60px 60px rgba(0, 0, 0, 0.03),
    0px 15px 33px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
  --btn-shadow: 0px 34px 14px rgba(0, 0, 0, 0.01),
    0px 19px 11px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.08),
    0px 2px 5px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1);
  --btn-shadow-inset: inset 0px 34px 14px rgba(0, 0, 0, 0.01),
    inset 0px 8px 8px rgba(0, 0, 0, 0.08), inset 0px 2px 5px rgba(0, 0, 0, 0.09);
}

html {
  font-family: Handjet, Rubik, sans-serif;
  color: var(--main-dark);
}

body {
  font-size: 1.5rem;
  margin: 0;
  background-color: var(--main-dark);
}

* {
  box-sizing: border-box;
}

a,
a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  box-shadow: 0 2px 0 var(--highlight);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.75em;
}

.logo {
  letter-spacing: 0.1em;
}

input[type='text'] {
  appearance: none;
  border: none;
  padding: 0.5em 0.88em;
  font-size: 1em;
  border-radius: 1.25rem;
  font-family: Handjet;
  box-shadow: var(--btn-shadow);
  background-color: var(--main-light);
  width: 100%;
  height: 100%;
}

input[type='text']:focus-visible {
  outline: none;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

label:has(> input[type='color']) {
  min-width: 1em;
  min-height: 1em;
  background-color: #555;
}

input[type='color'] {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  cursor: pointer;
}

button,
.btn {
  appearance: none;
  border: none;
  padding: 1.33em;
  width: 0;
  height: 0;
  font-size: 1em;
  box-shadow: var(--btn-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  cursor: pointer;
}

/* btn-group */

.btn-group {
  box-shadow: var(--btn-shadow);
  display: flex;
  flex-wrap: nowrap;
  border-radius: 1.25rem;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.btn-group > * {
  appearance: none;
  border: none;
  padding: 1.33em;
  width: 0;
  height: 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-group > a:hover {
  border: none;
  box-shadow: none;
}
.btn-group > .btn-i {
  cursor: auto;
}
.btn-group > .inner-input {
  box-shadow: var(--btn-shadow-inset);
  cursor: auto;
  padding: 0.5em 0.88em;
  font-size: 1em;
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
}

.btn-group > .bi::before {
  transition: all 0.2s ease-in-out;
}

.btn-group > .bi:not(.selected):hover::before {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(179, 110, 204, 0.6) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0.4em;
  border-radius: 50%;
}

.btn-group > .bi.selected {
  color: var(--highlight);
  cursor: auto;
  transition: color 0.02s ease-out;
}

button.disabled,
.btn.disabled,
.bi.disabled {
  color: var(--placeholder);
  cursor: not-allowed;
}

/* dropdown */

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  width: 150%;
  padding: 0;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 100%;
  opacity: 0;
  background-color: var(--main-light);
  border-radius: 1.25rem;
  box-shadow: var(--btn-shadow), var(--btn-shadow-inset);
  border: 6px solid var(--main-light);
  max-height: 0;
  transform: scale(95%);
  transition: opacity 0.2s cubic-bezier(0.74, 0, 0.63, 0.99), max-height 0.2s,
    top 0.3s cubic-bezier(0.5, 0.1, 0.1, 1.5),
    transform 0.2s cubic-bezier(0.5, 0.1, 0.1, 1.5);
}

.dropdown-container.on:hover::before,
.dropdown-container.on.selected::before {
  content: '';
  position: absolute;
  top: 100%;
  background-color: transparent;
  inset-inline: 0;
  width: 100%;
  height: 100%;
}

.dropdown-container.on:hover .dropdown-menu,
.dropdown-container.on.selected .dropdown-menu {
  opacity: 1;
  top: 120%;
  max-height: 100vh;
  transform: scale(100%);
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 24px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: 120px;
}

.dropdown-item:hover {
  color: var(--highlight);
  cursor: pointer;
  background-color: var(--highlight-selection);
}

/* HELPERS */

.d-none {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* LAYOUT */
.wrapper {
  max-width: 1260px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* COMPONENTS */

/* editor */
.meme-editor {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--main-dark);
  display: flex;
  align-items: center;
  opacity: 1;
}

.meme-editor .close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 50%;
  padding: 1em;
}

.meme-editor .editor-wrapper {
  display: grid;
  grid-template: min-content 1fr min-content / 1fr;
  grid-template-areas: 'proj-name' 'canvas' 'tools';
  height: 100%;
  width: 100vw;
  gap: 20px;
}

.meme-editor .editor-wrapper > * {
  background-color: var(--main-light);
  border-radius: 1.25rem;
}

.meme-editor .proj-name {
  grid-area: proj-name;
}

/** proj-name **/

.proj-name {
  position: relative;
  display: flex;
  align-items: center;
}

.proj-name .bi {
  position: absolute;
  inset-inline-end: 0.66em;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-name .bi:hover {
  color: var(--highlight);
}

.proj-name .meme-editor .share {
  grid-area: share;
}

.meme-editor .canvas {
  grid-area: canvas;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.meme-editor .canvas > canvas {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meme-editor .tools {
  grid-area: tools;
  display: grid;
  grid-template: repeat(3, 2.67em) / repeat(5, 2.67em);
  gap: 15px;
  align-content: space-between;
  grid-template-areas:
    'text-size text-size text-size text-add trash'
    'text-font text-font text-align text-color text-outline'
    'draw-tools draw-tools draw-color draw-width emoji';
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  justify-content: center;
}

.tools .text-size .inner-input {
  display: none;
}

.tools .text-color:not(.mobile-only) [for='text-outline'] {
  display: none;
}

.tools .text-color.mobile-only {
  grid-area: text-outline;
}

.tools .text-switch,
.tools .text-line {
  display: none;
}

/** tools **/
.tools .text-line {
  grid-area: text;
  box-shadow: var(--btn-shadow-inset);
}
.tools .text-switch {
  grid-area: text-switch;
}

/** text-switch **/
.tools .text-switch > *:not(.bi-arrow-down-up) {
  display: none;
}

.tools .trash {
  grid-area: trash;
}
.tools .text-add {
  grid-area: text-add;
}
.tools .text-font {
  grid-area: text-font;
  z-index: 10;
}

/** text-font **/
.text-font [name='impact'] {
  font-family: Impact, Rubik, sans-serif;
}

.text-font [name='secular one'] {
  font-family: SecularOne, Rubik, sans-serif;
}

.text-font [name='rubik'] {
  font-family: Rubik, sans-serif;
}

.text-font [name='montserrat'] {
  font-family: Montserrat, Rubik, sans-serif;
}

.text-font .dropdown-container {
  user-select: none;
}

.tools .text-size {
  grid-area: text-size;
}

.text-font .dropdown-container > span {
  display: none;
}

.text-font .inner-input {
  display: none;
}

.text-font.dropdown-container .caret-down {
  display: none;
}

/* text-size */
.text-size .inner-input {
  user-select: none;
  text-align: center;
  cursor: auto;
}

.tools .text-color {
  grid-area: text-color;
  position: relative;
  color: #ffffff00;
}

.text-color [for='text-fill'] {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.text-color [for='text-outline'] {
  position: absolute;
  inset: 0;
  border-radius: 1.25rem;
  border-color: rgb(209, 122, 122);
  border-width: 0.5rem;
  border-style: solid;
  outline: 7px solid white;
  outline-offset: -14px;
  background-color: #fff;
  cursor: pointer;
}

.tools .text-align {
  grid-area: text-align;
  overflow: hidden;
  /* TODO: add carousele effect for mobile selection */
}

/** text-align **/
.text-align > * {
  position: relative;
}

.tools .emoji {
  display: none;
}

.tools .emoji-btn {
  grid-area: emoji;
}

.tools .draw-tools {
  grid-area: draw-tools;
}
.tools .draw-color {
  grid-area: draw-color;
}
.tools .draw-width {
  grid-area: draw-width;
}

/* * canvas **/
main.canvas {
  border-radius: 1.25rem;
  position: relative;
}

main.canvas > * {
  border-radius: 1.25rem;
  position: absolute;
}

canvas[name='canvas-selection'] {
  z-index: 20;
}

canvas[name='canvas-txt'] {
  z-index: 10;
}

canvas[name='canvas'] {
  z-index: 0;
}

/* gallery */

/** main-header **/
.main-header {
  background-color: var(--secondary-dark);
  background: linear-gradient(
    0deg,
    var(--main-dark) 0%,
    var(--secondary-dark) 100%
  );
  color: white;
}

.main-header .logo {
  cursor: pointer;
}

.main-header .main-nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

/** filter **/
.filter {
  flex-direction: column;
  color: var(--main-light);
  position: relative;
}

.filter .flexible-btn {
  position: absolute;
  right: 0;
  /* padding: 25px; */
}

.filter .flexible-btn:hover {
  color: var(--highlight);
  cursor: pointer;
}

/*** searchbar ***/
.filter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.searchbar {
  position: relative;
  max-width: 400px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-self: center;
  color: var(--secondary-dark);
}

.searchbar input {
  /* position: absolute; */
  inset-inline: 0;
  font-size: 1.33em;
}

.searchbar .bi-search {
  position: absolute;
  inset-inline-end: 0.66em;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar .bi-search:hover {
  color: var(--highlight);
}

/*** filter-items ***/
.filter-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.filter-items .filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.filter-items .filter-item p {
  background-color: var(--main-light);
  color: var(--main-dark);
  padding: 0.5em 1em;
  border-radius: 2em;
  margin: 0;
  user-select: none;
  cursor: pointer;
}

/** image-gallery **/
.image-gallery {
  margin: 1rem;
  display: grid;
  grid-template: repeat(auto-fill, minmax(300px, 1fr)) / repeat(
      auto-fill,
      minmax(300px, 1fr)
    );
  aspect-ratio: 1/1;
  grid-auto-flow: dense;
  gap: 1rem;
}

.img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
  cursor: pointer;
}

.img-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 920px) {
  .dropdown-menu {
    bottom: 100%;
    top: auto;
  }
  .dropdown-container.on:hover::before,
  .dropdown-container.on.selected::before {
    bottom: 100%;
    top: auto;
  }

  .dropdown-container.on:hover .dropdown-menu,
  .dropdown-container.on.selected .dropdown-menu {
    bottom: 120%;
    top: auto;
  }
}
@media screen and (min-width: 920px) {
  .text-color.mobile-only {
    display: none;
  }
  .meme-editor .editor-wrapper {
    grid-template: 2.83em 7.5em calc(100vh - 10.33em - 40px - 6rem) / 1fr 10.83em;
    grid-template-areas: 'proj-name share' 'tools tools' 'canvas canvas';
    width: max-content;
    height: unset;
    margin-inline: auto;
  }
  .meme-editor .tools {
    grid-template: repeat(2, 2.67em) / repeat(4, 2.67em) 1fr repeat(4, 2.67em) 1fr repeat(
        2,
        2.67em
      );
    row-gap: 0;
    grid-template-areas:
      'text text text text . text-size text-size text-size text-size . draw-tools draw-tools'
      'text-switch trash text-add emoji . text-font text-font text-color text-align . draw-color draw-width';
  }
  .tools .text-size .inner-input {
    display: flex;
  }

  .tools .text-color:not(.mobile-only) [for='text-outline'] {
    display: block;
  }

  .tools .text-color.mobile-only {
    display: none;
  }

  .tools .text-switch,
  .tools .text-line {
    display: flex;
  }
  .text-font.dropdown-container .caret-up {
    display: none;
  }

  .text-font.dropdown-container .caret-down {
    display: flex;
  }
}
@media screen and (max-width: 1300px) {
  .text-align:has(.text-left.selected) > * {
    transform: translateX(64px);
  }
  .text-align:has(.text-center.selected) > * {
    transform: translateX(0);
  }
  .text-align:has(.text-right.selected) > * {
    transform: translateX(-64px);
  }
  .text-align {
    pointer-events: all;
    cursor: pointer;
  }
  .text-align > * {
    pointer-events: none;
  }
}
@media screen and (min-width: 1300px) {
  .dropdown-menu {
    width: 100%;
  }
  .text-align {
    pointer-events: none;
    cursor: auto;
  }
  .text-align > * {
    pointer-events: all;
  }

  .meme-editor {
    background-color: var(--placeholder);
  }

  .meme-editor .editor-wrapper {
    width: 100%;
    height: 100%;
    grid-template: 2.83em 1fr / 1fr 10.83em max-content;
    grid-template-areas: 'proj-name share tools' 'canvas canvas tools';
  }

  .meme-editor .tools {
    grid-area: tools;
    display: grid;
    grid-template: repeat(8, 2.67em) / repeat(4, 2.67em);
    gap: 20px;
    align-content: space-between;
    grid-template-areas:
      'text text text text'
      'text-switch text-switch trash text-add'
      'text-font text-font text-font text-font'
      'text-size text-size text-size text-size'
      'text-color text-align text-align text-align'
      'emoji emoji emoji emoji'
      'emoji emoji emoji emoji'
      'draw-tools draw-tools draw-color draw-width';
    padding: 20px;
    height: fit-content;
    align-self: center;
  }

  .tools .emoji {
    grid-area: emoji;
    flex-wrap: wrap;
    display: flex;
  }

  .tools .emoji-btn {
    display: none;
  }

  .text-font.dropdown-container > .inner-input {
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 9.17em;
    overflow: hidden;
  }

  .text-font .inner-input {
    display: flex;
  }

  .tools .text-switch > *:not(.bi-arrow-down-up) {
    display: flex;
  }
  .tools .text-switch > .bi-arrow-down-up {
    display: none;
  }
}
